@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

:root {
  --primary-color: #3b82f7;
  /* Custom primary color */
  --secondary-color: #1d4ed8;
  /* Custom secondary color */
  --text-color: #49454f;
  /* Custom text color */
  --background-color: #f9fafb;
  /* Custom background color */
  --lightgray: #d3d3d3;
  /* Custom light gray color */
  --gray: #6b7280;
  /* Custom light gray color */
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--lightgray);
  border-radius: 10px;
  cursor: pointer;
  transition-property: all  ;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 700ms;

}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color);


}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"] {
  appearance: none;
}

input::-webkit-calendar-picker-indicator {
  /* opacity: 0; */
}

.custom-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.custom-table-th:first-child {
  border-top-left-radius: 15px;
}

.custom-table-th:last-child {
  border-top-right-radius: 15px;
}

.upload-icon {
  animation: updateScale 2s linear infinite;
}

@keyframes updateScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@media print {
  #header-container {
    display: none !important;
  }

  #sidebar-container {
    display: none !important;
  }

  #footer-container {
    display: none !important;
  }

  #hide-buttons {
    display: none !important;
  }
}